svg {
min-width: 24px;
    max-height: 24px;
}

header {
background-color: #000;
}

header nav a svg {
fill: #fff;
}


header nav a:not(:first-child) {
    max-width: 2em;
}

header nav a:last-child span {
    width: .3em;
    height: .3em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: .2em;
    border-radius: 100%;
}

main > ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    list-style-type: none;
    background-color: #fff;
    z-index: 120;
    padding: 1em;
    min-width: 250px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.2);
    display: none;
}
main > ul.active{
display: block;}

main > ul li {
padding: 1em 0;
}




main section:nth-of-type(1) > div:nth-of-type(1) {
    display: grid;
    grid-template-columns: 90% 10%;
    padding-bottom: .5em;
}

main section:nth-of-type(1) > div:nth-of-type(1) a {
grid-column-start: 1;
}

main section:nth-of-type(1) > div:nth-of-type(1) p {
grid-column-start: 2;
}

main section:nth-of-type(1) > div:nth-of-type(1) > p.active {
    transform: scaleY(-1);
}

main section > div > p {
margin: unset;
}

main section div:nth-of-type(2) {
    position: unset;
    order: 4;
    width: unset;
    transform: unset;
    display: grid;
    grid-template-columns: 3em 5fr 1fr;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    align-items: center;
    padding: 1em .25em;
}
    
main section div:nth-of-type(2) > * {
    padding: 0 .5em;
}

main section div:nth-of-type(2) a {
    order: unset;  
}

main section div:nth-of-type(2) a:nth-of-type(1){
grid-column-start: 1;
}

main section div:nth-of-type(2) a:nth-of-type(2){
grid-column-start: 2;
    grid-row-start:1;
}

main section div:nth-of-type(2) > p{
grid-column-start: 3;
}

main section div:nth-of-type(2) > p a{
    color: #E52721;
    font-weight: 500;
}

main section div:nth-of-type(2) a:nth-of-type(2) p:first-of-type {
    font-size: 1em;
    font-weight: 500;
    opacity: 1;
}

main section div:nth-of-type(2) a img {
border-radius: 100%;
}

main section:first-of-type ul {
    order: 3;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

main section:first-of-type ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .75em 0;
    color: #777;
    font-size: .8em;
}

main section:first-of-type ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section:first-of-type ul li svg {
    width: 24px;
    height: 24px;
    fill: #777;
    margin-bottom: .5em;
}

main section:first-of-type ul li svg.active {
fill: #00F;
}

main section:first-of-type > section {
    order: 5;
    margin: 0;
    padding: 1em;
    border-bottom: 1px solid #aaa;
    display: none;
}

main section:first-of-type > section.active {
    display: block;
}

main section:first-of-type > section > * {
    opacity: 0.6;
    font-size: .9em;
}

main section:first-of-type > section > h3 {
font-weight: 400;
}

main section:first-of-type > section > p {
    padding-bottom: 1em;
}

main section:first-of-type > section > a {
    color: #00F;
}

main section:nth-of-type(n+2) {
    padding-left: .75em;
    padding-right: .75em;
}

main section:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em .75em;
}

main section:nth-of-type(2) > * {
    font-size: 0.9em;
    font-weight: 500;
}

main section:nth-of-type(2) > h3 {
    flex: 1;
}

main section:nth-of-type(2) > label {
    margin-right: 1em;
}

main section:nth-of-type(2) > input {
    position: relative;
    appearance: none;
    width: 40px;
    outline: none;
    height: 20px;
    border-radius: 100px;
    background-color: #ccc;
}

main section:nth-of-type(2) > input::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #666;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

main section:nth-of-type(2) > input:checked {
    background-color: rgba(22, 121, 197, .3);
}


main section:nth-of-type(2) > input:checked::after {
    left: 20px;
    background-color: #1679c5;
}

main section:nth-of-type(n+2) > div {
    grid-template-columns: 3em 80% 1fr;
}

main section:last-of-type {
   
    flex-direction: row;
    justify-content: space-between;
/*    margin: 0;*/
}

main section:last-of-type > * {
    display: block;
}

main section:last-of-type h3 span {
    width: .2em;
    height: .2em;
    background-color: #000;
    border-radius: 100%;
    display: inline-block;
  margin-bottom: .15em;
}

main section:last-of-type svg {
max-width: 24px;
}

@media only screen and (min-width: 667px) {
    main section > * {
margin: unset;
    }
}

@media only screen and (min-width: 800px){
    
    header{
    height: 3.6em;
    }
    
    main {
    display: grid;
    grid-template-columns:2fr 1fr;
         grid-auto-flow: dense;

}
    
    
    main section {
    padding: unset;
    margin: unset;
        grid-column-start: 2;  
        border-bottom: unset;
    }
    
    main section div {
    padding: .75em 0 0 .5em;

    }
    
    main section > a:first-of-type {
    max-width: unset;
    max-height: unset;
    }
    
    main section:nth-of-type(1) {
        grid-row: 1 / 10;
            flex-direction: column;
    }
    
    main section:nth-of-type(1) > a{
        grid-column-start: 1 ;
    grid-column-end: -1;
        width: 100%;
    }
    
    main section:nth-of-type(1), main section:last-of-type{
    grid-column-start: 1;
    } 

    main section:nth-of-type(2) {
    margin-top: 3.5em;
        grid-row-start:1;
    }
    
    
    main section div > p {
    position: unset;
    }
    
    main section:nth-of-type(n+2) {
    padding-left: .5em;
    }
    
    main section:nth-of-type(n+2) > div > a:first-of-type{
        display: none;
    }
    main section:nth-of-type(n+2) > div > a:last-of-type {
    align-self: end;
}
    
    main section:nth-of-type(n+2) > div {
            justify-items: center;  
    }
    
    main section:last-of-type {
    padding: 1em;
    grid-row-start:7;
    }
    
    main section[class*="active"]:last-of-type {
    grid-row-start:9;}

}
